<!DOCTYPE html>
<html>
<head>
    <title>Change Password</title>
</head>
<body>
  <h1>Register</h1>
  <form action="/updatePassword" method="POST">
    <div>
      <label for="username"><%= user.username %></label>
      <input type="text" id="username" name="username" value="<%= user.username %>" hidden required>
    </div>
    <div>
      <label for="currPassword">Current Password:</label>
      <input type="password" id="currPassword" name="currPassword" required>
    </div>
    <div>
      <label for="newPassword1">New Password:</label>
      <input type="password" id="newPassword1" name="newPassword1" required>
    </div>
    <div>
      <label for="newPassword2">Confirm New Password:</label>
      <input type="password" id="newPassword2" name="newPassword2" required>
    </div>
    <button type="submit">Update Password</button>
  </form>
</body>
</html>
